@import "tailwindcss";

@theme {
    --color-pantory-primary: #3CC364;
    --color-pantory-bg: #F9F9F9;
    --color-pantory-text: #333333;
    --color-pantory-gray: #999999;

    --font-sans: "Inter", ui-sans-serif, system-ui;
    --font-outfit: "Outfit", sans-serif;
}