<div>
  <span><%= t("views.stock_adjustments.display.stock", quantity: display_quantity(item.quantity)) %></span>
  <%= link_to t("views.stock_adjustments.display.change"), new_item_stock_adjustment_path(item), data: { turbo_frame: dom_id(item, :adjustment) } %>
</div>
