<div>
  <h1><%= t("views.errors.404.title") %></h1>
  <p><%= t("views.errors.404.message1") %></p>
  <p><%= t("views.errors.404.message2") %></p>
  <div>
    <%= link_to t("views.common.home"), root_path %>
  </div>
</div>
