<div style="background-image: linear-gradient(114.78856297515668deg, rgb(240, 253, 244) 0%, rgb(255, 255, 255) 100%), linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%)">
  <div>
    <div>
      
      <%# Header %>
      <div>
        <div>
          <p>
            Manage Pantory
          </p>
        </div>
        <div>
          <p>
            家の食材在庫管理
          </p>
        </div>
      </div>

      <%# Category Manager %>
      <div>
        <div>
          <%= form_tag items_path, method: :get do %>
            <%= select_tag :category_id, options_from_collection_for_select(@categories, :id, :name, params[:category_id]), 
                include_blank: "すべてのカテゴリー",
                onchange: "this.form.submit();" %>
          <% end %>
          <button>
            <span>カテゴリー追加</span>
          </button>
        </div>
      </div>

      <%# Add Item Button %>
      <div>
        <%= link_to new_item_path do %>
          <span>アイテム追加</span>
        <% end %>
      </div>

      <%# Inventory List %>
      <div>
        <% if @items.any? %>
          <div>
            <% @items.each do |item| %>
              <%= render partial: "items/item_card", locals: { item: item, highlight: item.expired_soon? } %>
            <% end %>
          </div>
        <% else %>
          <div>
            <p>
              在庫アイテムがありません
            </p>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
