<div>
  <div>
    <div>
      <%= render 'form', item: @item, categories: @categories, title: t('views.items.form.new_title'), submit_label: t('views.common.save'), cancel_path: items_path, show_quantity: true %>
    </div>
  </div>
</div>
