<%= turbo_frame_tag "category_selector" do %>
  <div>
    <%= form_tag items_path, method: :get, data: { turbo_frame: "_top" } do %>
      <%= select_tag :category_id, options_from_collection_for_select(categories, :id, :name, params[:category_id]), 
          include_blank: t('views.categories.selector.all'),
          onchange: "this.form.submit();" %>
    <% end %>
    <%= link_to t('views.categories.selector.add_category'), new_category_path, data: { turbo_frame: "category_selector" } %>
  </div>
<% end %>
